{% extends 'base.html.twig' %}

{% block title %}{{ conference }}{% endblock %}

{% block body %}

<h2>Conférence : {{ conference }}</h2>

{% if comments|length > 0 %}
    {% for comment in comments %}
        {% if comment.photoFilename %}
            <img src="{{asset ('uploads/photos/' ~ comment.photoFilename)}}" alt="">
        {% endif %}

        <h4>{{comment.author}}</h4>
        <small>{{ comment.createdAt|format_datetime('medium', 'short') }}</small>
        <p>{{comment.text}}</p>
        
    {% endfor %}

{% else %}

    <h4>Aucun commentaires posté !</h4>

{% endif %}

    

{% endblock %}
